.error {
    color: red;
}
.input_form {
    display: inline-block;
}
.input_form div > label {
    width: 120px;
    display: inline-block;
}
.input_form > div {
    margin: 5px;
    margin-top: 10px;
}

.input_form input[type=text], .input_form input[type=password] {
    width: 250px;
}
.input_form textarea {
    width: 550px;
    height: 70px;
}
.big div, .survey_edit div {
    margin-top: 10px;
}
.big > div, .survey_edit > div {
    margin: 10px;
}
.survey_edit input[type=text] {
    width: 660px;
    height: 20px;
    padding: 2px;
}
.big input[type=text], .big input[type=password] {
    width: 550px;
    height: 20px;
    padding: 2px;
}
.input_form div.submit_button {
    text-align: right;
}
table.grid {
    border: 1px solid #999;
    border-collapse: collapse;
    margin-bottom: 10px;
}
table.grid th, table.grid td {
    border: 1px solid #999;
    padding: 3px;
    text-align: left;
}
.big .choices label {
    width: 80px;
}
.widelabels > div {
    margin-bottom: 20px;
}
.widelabels div > label {
    width: auto;
}
.choices_container input[type=text] {
    width: 360px;
}
.choices_container {
    margin-left: 125px;
    width: 620px;
}
.survey_edit .choices label {
    width: 70px;
}
.question {
    margin-bottom: 25px;
}
.scrollgrid {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}
.scrollgrid .grid th {
    white-space:nowrap;
}
.required_container {
    display: inline-block;
    margin-left: 10px;
}
.incomplete {
    color: red;
}

.reward_price_symbol {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: -3px;
}

.reward_price_value {
    width: 69px;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #f1e5e6;
    background-color: #d3394c; 
    width: auto;
    border-radius: 10px;
    /*font-size: 1.25rem;*/
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.inputfile:focus + label{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label:hover {
    background-color: #4b0f31;
}


.inputfilesurveydescription {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfilesurveydescription + label {
    color: #f1e5e6;
    background-color: #d3394c;
    width: auto;
    /*font-size: 1.25rem;*/
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
}

.inputfilesurveydescription + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.inputfilesurveydescription:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfilesurveydescription + label:hover {
    background-color: #4b0f31;
}

.inputfilesurveyinstructions {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfilesurveyinstructions + label {
    color: #f1e5e6;
    background-color: #d3394c;
    width: auto;
    /*font-size: 1.25rem; d3394c*/
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
}

.inputfilesurveyinstructions + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfilesurveyinstructions:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfilesurveyinstructions + label:hover {
    background-color: #4b0f31;
}

.inputfilechoice {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfilechoice + label {
    color: #f1e5e6;
    background-color: #d3394c;
    width: auto;
    /*font-size: 1.25rem; d3394c*/
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    
}

.inputfilechoice + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfilechoice:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfilechoice + label:hover {
    background-color: #4b0f31;
}

.select-css {
    display: inline-block;
    /*font-size: 16px;*/
    vertical-align: top;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.3em 1.4em 0.3em 0.8em;
    width: auto;
    /*max-width: 100%;*/ 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.h2_with_description_note{
    padding: 15px 0 0px 0;
    margin: 0px;
}

.description_note{
    padding: 0px 0 5px 0;
    margin: 0 0 15px 0;
    display: block;
}
.delete_condition{
    cursor: pointer;
    color: #307bba;
    font-weight: normal;
    text-decoration: none;
}
#warning_text {
    color: red;
    font-size: 13px;
    width: fit-content;
}
#warning_text:hover, #warning_text:focus {
    font-size: 14px;
    font-weight: bold;
}

@keyframes fontbulger {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

.anim{
    animation: fontbulger 1s 1;
}

.outline_text {
    outline-width: medium;
    outline: auto;
}

